{% extends 'base.html' %}

{% block title %}
<title>About me</title>
{% endblock %}

{% block body %}
<div class="container">
    <h1>Про магазин:</h1>
    <p></p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto blanditiis corporis cumque, deserunt distinctio dolorem ea, eos hic, iste laborum maiores natus necessitatibus nemo numquam officiis quidem tempore voluptates? Accusamus aliquid, blanditiis doloribus ducimus eaque facilis laborum minus molestias mollitia nam nihil nobis, nostrum quia similique sit tempore, tenetur totam ullam voluptas voluptates. Atque consequuntur dolores sint vitae! Ab ad aperiam architecto aut cupiditate deleniti distinctio eos eum exercitationem, expedita, illo in iste itaque nam, nihil officia porro quis quod repellendus soluta suscipit temporibus vel? Ab ad amet beatae blanditiis cumque, doloribus eligendi hic nobis obcaecati quibusdam sapiente similique suscipit.</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci doloribus ducimus eum fuga incidunt ipsa molestias porro quisquam unde? Cupiditate explicabo odit vel voluptas?</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequuntur, sed!</p>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. In, nihil reprehenderit. Accusantium adipisci animi aspernatur atque consectetur cum dignissimos dolore ea, expedita hic iste iusto maiores maxime nihil officia pariatur qui quo, repellat reprehenderit rerum similique suscipit tempora veniam. Possimus, unde voluptate. Deleniti libero odit rem rerum sed voluptatem voluptatibus! A est ex nobis repellat.</p>
</div>
{% endblock %}